
/* CSS Document */



* {
  box-sizing: border-box;
}

body {
  background-color: rgb(241, 241, 232);
	height: 100%;
}

.content_continter2 {margin-top:-2px;}

.content_continter {margin-top:-46px;}


.Print_Table
{
  border: 1px solid black;
  border-collapse: collapse;
  width:100%
	
}

.Center_Print
{
	text-align: center;
}

.row_main
{
  border: 1px solid black;
  border-collapse: collapse;
  margin-left: auto; 
  margin-right: auto;
  width: 95%
}

.row_border
{
  text-align: center;
  border: 1px solid black;
  padding: 4px;
  margin-left: auto; 
  margin-right: auto;
  width: 95%;
}

.row_border2
{  
	text-align: center;
	border: 3px solid black;
	padding-top: 4px;
  padding-bottom: 4px;}

.row_border3
{
	text-align: center;
	border: 1px solid black;
  padding: 8px;
background-color:#CACACA;
}
 


.row_no_border
{border: none;}

.bg-green{
  background-color: rgb(191, 220, 174);

	
}


.TestButton {
position:relative;
margin-top:100%;
}

.bg-Grey{	

  font-family: "Palatino Linotype";
  color: grey;
}

.bg-darkgreen{	
	font-size: 32px;
  font-family: "Palatino Linotype";
  color: rgb(32, 106, 93);
}

.bg-darkgreen2{
	font-size: 28px;
  font-family: "Palatino Linotype";
  color: rgb(32, 106, 93);
	
}

.Text_Red{


  color: rgb(242, 109, 125);
	
}

.Menu_Button {
  background-image: url("Images/Menu.png");
  background-repeat: no-repeat;
  background-position:center;
  border-style: solid;
  border-color: rgb(191, 220, 174);
  background-color: rgb(191, 220, 174);
  width: 48px;
  height: 40px;

}



.Row_header{
  background-color: rgb(191, 220, 174);
  height: 40px;	
}



.Row_3{
  background-color: blue;	
}
.Header_space
{
	
	  border-width: 1px;
  border-color: rgb(241, 241, 232);
  border-style: solid;
  background-color: rgb(241, 241, 232);
  height: 45px;
  width: 100%;
  margin-top: 0;
	  left: 0px;
  top: 0px;
  z-index: 2;
	
}



.Button_Index2
{
	
	  border-width: 1px;

  z-index: 2;
	
}

.Button_Index1
{
	position: relative;
	margin-top:-15px;
  z-index: 3;

}

.Form_text
{  
	color: rgb(241, 241, 232);
	font-size: 10.5px;
margin-left:15px;
	text-align: center;
	  border-width: 3px;
  border-style: solid;
  border-radius: 30%;
  width: 75px;
  height: 36px;
	background-color: grey;
	border-color: rgb(241, 241, 232);
}


.Form_textL
{  
	color: rgb(241, 241, 232);
	font-size: 12px;
margin-left:15px;
	text-align: center;
	  border-width: 3px;
  border-style: solid;
  border-radius: 30%;
  width: 75px;
  height: 36px;
	background-color: grey;
	border-color: rgb(241, 241, 232);
}


.input4 {z-index: 99;}

.Colum_Properties{
	margin-top: 52;
}

.Colum_Properties2{
	margin-top:-20px;
}

.Menu_click {
	  background-image: url("Images/Menu.png");
  background-repeat: no-repeat;
  background-position:center;
  border-style: solid;
  border-color: rgb(191, 220, 174);
    background-color: rgb(241, 241, 232);
  width: 48px;
  height: 40px;
  z-index: 52;
}






/*Buttons */

.Form_Buttons
{  
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
  width: 100px;
  height: 100px;
  z-index: 15;
	
}





.button_height{
	height:90%;

}
/*------------------------------------------------------------------------------------------------------------------------ */


/*colors- */

.Pink {
  border-color: rgb(244, 154, 193);
  background-color: rgb(244, 154, 193);
}

.Purple {
  border-color: rgb(131, 147, 202);
  background-color: rgb(131, 147, 202);
}

.Orange {
  border-color: rgb(246, 142, 86);
  background-color: rgb(246, 142, 86);
}

.Green {  
  border-color: rgb(196, 223, 155);
  background-color: rgb(196, 223, 155);
}

.Yellow {
  border-color: rgb(255, 247, 153);
  background-color: rgb(255, 247, 153);
}

.Green2 {
  border-color: rgb(130, 202, 156);
  background-color: rgb(130, 202, 156);
}

.Blue {
  border-color: rgb(1, 153, 158);
  background-color: rgb(1, 153, 158);
}

.Blue2 {
  border-color: rgb(18, 172, 222);
  background-color: rgb(18, 172, 222);
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
}

.Red {
  border-color: rgb(242, 109, 125);
  background-color: rgb(242, 109, 125);
}

.Orange2 {
  border-color: rgb(249, 173, 129);
  background-color: rgb(249, 173, 129);
}

.Purple2 {
  border-color: rgb(161, 134, 190);
  background-color: rgb(161, 134, 190);
}

.Grey {
  border-color: rgb(183, 183, 177);
  background-color: rgb(183, 183, 177);
}

.Grey2 {
  border-color:rgb(112, 112, 112);
  background-color: rgb(112, 112, 112);
}



/*------------------------------------------------------------------------------------------------------------------------ */



/*Icons */

.Packing {
  background-image: url("Images/Packing.png");
  background-repeat: no-repeat;
  background-position:center;

}

.Processing {
  background-image: url("Images/Processing.png");
  background-repeat: no-repeat;
  background-position:center;

}

.Cold_Room {
  background-image: url("Images/Cold_Room.png");
  background-repeat: no-repeat;
  background-position:center;

}

.Thermometer {  
  background-image: url("Images/Thermometer.png");
  background-repeat: no-repeat;
  background-position:center;
}

.Raw_Product {  
  background-image: url("Images/Raw_Product.png");
  background-repeat: no-repeat;
  background-position:center;
 
}

.Cooler {
  background-image: url("Images/Cooler.png");
  background-repeat: no-repeat;
  background-position:center;

}

.Incoming_Materials {
  background-image: url("Images/Incoming_Materials.png");
  background-repeat: no-repeat;
  background-position:center;

}

.Brittle_Plastics {
  background-image: url("Images/Brittle_Plastics.png");
  background-repeat: no-repeat;
  background-position:center;

}

.Preventative_Maintenance {
  background-image: url("Images/Preventative_Maintenance.png");
  background-repeat: no-repeat;
  background-position:center;

}

.NUOCA {
  background-image: url("Images/NUOCA.png");
  background-repeat: no-repeat;
  background-position:center;

}

.Work_Order {
  background-image: url("Images/Work_Order.png");
  background-repeat: no-repeat;
  background-position:center;

}

.Rejected_Material {
  background-image: url("Images/Rejected_Material.png");
  background-repeat: no-repeat;
  background-position:center;

}

.Foreign_Materials {
  background-image: url("Images/Foreign_Materials.png");
  background-repeat: no-repeat;
  background-position:center;

}

.Back_Button {
  background-image: url("Images/Back.png");
  background-repeat: no-repeat;
  background-position:center;

}

.Next_Button {
  background-image: url("Images/Next.png");
  background-repeat: no-repeat;
  background-position:center;

}

/*------------------------------------------------------------------------------------------------------------------------ */



/*Account Settings */

.container {
  max-width: 960px;
	 background-color: rgb(241, 241, 232);
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.border-top-gray { border-top-color: #adb5bd; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-condensed { line-height: 1.25; }





.bg-light {
  background-color: rgb(241, 241, 232);
}

/*------------------------------------------------------------------------------------------------------------------------ */


.Button_Size {
  width:170px;
  height: 70px;
}

.Light_Green_Button {
  font-size: 22px;
  font-family: "Palatino Linotype";
  color: rgb(255, 255, 255);
  border-width: 1px;
  border-color: rgb(163, 211, 156);
  border-style: solid;
  border-radius: 10px;
  background-color: rgb(163, 211, 156);
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);

}

.Green_Button {
  font-size: 22px;
  font-family: "Palatino Linotype";
  color: rgb(255, 255, 255);
  border-width: 1px;
  border-color: rgb(124, 197, 118);
  border-style: solid;
  border-radius: 10px;
  background-color: rgb(124, 197, 118);
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
}

.collapsible-content-shown-by-default {
  max-height: 100%;
  padding: 10px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}


.LButton {
  background: none!important;
  border: none;
  padding: 0!important;
  cursor: pointer;
}


@media all {
  .hide-on-screen,
  .noPrint {display: none;}
}

@media print {
  .hide-on-screen,
  .noPrint  {display: block;}
}