<!DOCTYPE html>
<html lang="en">
<%- include('../Partials/MetaData') -%>


<body>
<%- include('../Partials/NavBar') -%>
			    <form class="needs-validation" action="/Frontend/Generate" method="post">
					<%- include('../Partials/Global_Variables') -%>
					<input id="Form_Title13" name="Form_Title" type="hidden" value="Previous Forms">
	<div class="container">
		
			 <div class="row">
              <div class="col mb-3">
				  <label for="Floor_Ground2">Report Type</label>
                   <select class="custom-select d-block w-100" id="Floor_Ground2"  name="Report_Type" >
                  <option value="Weekly">Weekly</option>
                    <option Value="Range">Range</option>			   
                </select>
				    </div>
					   
					   

				</div>	   
           
				
			 <div class="row">
              <div class="col mb-3">
				  <label for="Floor_Ground">Form</label>
                   <select class="custom-select d-block w-100" id="Floor_Ground"  name="Form_Name" >
                  <option value="A">Choose...</option>
                    <option Value="Packing">Packing materials</option>
					<option Value="Processing">Processing Room</option>
					   <option Value="Cold_Rooms">Cold Rooms</option>
					   <option Value="Thermometer_Calibration">Thermometer Calibration</option>
					   <option Value="Raw_Product">Raw Product</option>
					   <option Value="Cooler">Cooler/Display Case Temp</option>
					   
                </select>
              </div>
					   
					   

				</div>	   
           
	
	

		
		
		
<div class="row Colum_Properties" >
	
	
<div class="col justify-content-center"  >

         <label for="Date_From">Date From</label>
                <input type="Date" class="form-control" id="Date_From" name="Date1" placeholder="" value="" required>
                <div class="invalid-feedback">
                  Valid Date is required.
                </div>

    </div>
								

										
  </div>
		

		<div class="row " >
	
	
<div class="col justify-content-center"   >

                <label for="Date_To">Date To</label>
                <input type="Date" class="form-control" id="Date_To" name="Date2" placeholder="" value="" required>
                <div class="invalid-feedback">
                  Valid Date is required.
                </div>

    </div>
								
										
  </div>
		
		

		
					<!-- Bkank Row --> 
			<div class="row" >
			
		<div class="col  justify-content-center mt-5"  >

	</div>
		
				<div class="col  justify-content-center mt-5"   >
		</div>
		</div>
				
</div>
	
<!-- Bottom Buttons --> 
	
		<div class="row fixed-bottom" >
              <div class="col mb-3">
				  
		
					  <br>
                       <button class="btn btn-block btn-primary btn-lg Light_Green_Button button_height "  data-toggle="collapse" data-target="#Hide_Stored" type="submit">Generate</button>
					  </form>
      
              </div>
		
              <div class="col mb-3">
				 
				  <form action="../Frontend/Reports" class="button_height" method="post">
					    <%- include('../Partials/Global_Variables') -%>
					  <input id="Form_Title14" name="Form_Title" type="hidden" value="Reports">
					   <br>
                       <button class="btn btn-block btn-primary btn-lg button_height Green_Button"  data-toggle="collapse" data-target="#Hide_Stored" type="submit">Reports</button>
       </form>
              </div>
		
		
	</div>
		
	
	

	
	</body>
</html>
