<!doctype html>
<html>
<%- include('../Partials/MetaData') -%>
<%- include('../Partials/NavBar') -%>
<body>
	<a href="Dashboard.html">--Home</a>
<br/>
	<br/>
	Support Page
	
	
</body>
</html>
