@charset "utf-8";
/* CSS Document */



* {
  box-sizing: border-box;
}

body {
  background-color: rgb(241, 241, 232);
}


.bg-green{
  background-color: rgb(191, 220, 174);

	
}

.bg-darkgreen{	
	font-size: 32px;
  font-family: "Palatino Linotype";
  color: rgb(32, 106, 93);
}


.Menu_Button {
  background-image: url("Images/Menu.png");
  background-repeat: no-repeat;
  background-position:center;
  border-style: solid;
  border-color: rgb(191, 220, 174);
  background-color: rgb(191, 220, 174);
  width: 48px;
  height: 40px;

}



.Row_header{
  background-color: rgb(191, 220, 174);
  height: 40px;	
}



.Row_3{
  background-color: blue;	
}
.Header_space
{
	
	  border-width: 1px;
  border-color: rgb(241, 241, 232);
  border-style: solid;
  background-color: rgb(241, 241, 232);
  height: 45px;
  width: 100%;
  margin-top: 0;
	  left: 0px;
  top: 0px;
  z-index: 2;
	
}


.Colum_Properties{
	margin-top: 52;
}

.Menu_click {
	  background-image: url("Images/Menu.png");
  background-repeat: no-repeat;
  background-position:center;
  border-style: solid;
  border-color: rgb(191, 220, 174);
  background-color: rgb(191, 220, 174);
  width: 48px;
  height: 40px;
  z-index: 52;
}




















.Page_text{
	  font-size: 30px;
  font-family: "Palatino Linotype";
  color: rgb(115, 115, 104);

 


}

.Page_Text_Green{  
	font-size: 59px;
  font-family: "Palatino Linotype";
  color: rgb(32, 106, 93);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  width: 375px;
  height: 0px;
  z-index: 8;
}

.Blanks{  
	font-size: 59px;
  font-family: "Palatino Linotype";
  color: rgb(32, 106, 93);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  width: 150px;
  height: 0px;
  z-index: 8;
}

.Page_Lines{
	  font-size: 10px;
  font-family: "Palatino Linotype";
  color: rgb(32, 106, 93);




}

.Form_Buttons
{  
  border-width: 1px;
  border-color: rgb(1, 153, 158);
  border-style: solid;
  border-radius: 50%;
  background-color: rgb(1, 153, 158);
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
  width: 100px;
  height: 100px;
  z-index: 15;
}

.Blank_Buttons
{  
  
 
  border-width: 1px;
  border-color: none;
  border-style: none;
  border-radius: 50%;
  background-color:rgb(241, 241, 232);
  width: 189px;
  height: 189px;
  z-index: 15;
}

.Bottom_buttons
{
  font-size: 54px;
  font-family: "Palatino Linotype";
  color: rgb(255, 255, 255);
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  border-radius: 10px;
  background-color: rgb(124, 197, 118);
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
  width: 320px;
  height: 110px;
  z-index: 21;
}


.flex-container {
  display: flex;
  background-color:none;
	 flex-wrap: wrap;
justify-content: center;
	align-items: center;
	align-content: space-around;
	height: 1000px;
	
}

.flex-container > div {
  background-color: none;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.flex-container2 {
  display: flex;
  background-color:none;
	 flex-wrap: wrap;
justify-content: center;
	align-items: center;
	align-content: space-around;
	height: 300px;
	
}

.flex-container2 > div {
  background-color:none;
  margin: 10px;
  padding: 10px;
  font-size: 30px;
}

.flex-container3 {
  display: flex;
  background-color:none;
	 flex-wrap: wrap;
justify-content: left;
	align-items: left;
	align-content: space-around;
	height: 180px;
	
}

.flex-container3 > div {
  background-color:none;
  margin: 1px;
  padding: 1px;
  font-size: 30px;
}


.flex-container4 {
  display: flex;
  background-color:none;
	 flex-wrap: wrap;
justify-content: left;
	align-items: center;
	align-content: space-around;
	height: 60px;
	z-index: 21;
	
}

.flex-container4 > div {
  background-color:none;
  margin: 1px;
  padding: 1px;
  font-size: 30px;
	z-index: 21;
}

.flex-container_Form {
  display: flex;
  background-color:blue;
	 flex-wrap: wrap;
justify-content: left;
	align-items: center;
	align-content: space-around;
	height: 1000px;
	z-index: 21;
	
}

.flex-container_Form > div {
  background-color:grey;
  margin: 1px;
  padding: 1px;
  font-size: 30px;
	z-index: 21;
}





/*------------------------------------------------------------------------------------------------------------------------ */
#Headermenu1{
  border-width: 1px;
  border-color: rgb(32, 106, 93);
  border-style: solid;
  background-color: rgb(32, 106, 93);
  opacity: 0.871;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 62%;
  z-index: 299;

}

#Headermenu2{
  border-width: 1px;
  border-color: rgb(0, 89, 82);
  border-style: solid;
  background-color: rgb(0, 89, 82);
  position: absolute;
  left: 0px;
  top: 0px;
  height: 258px;
  width: 62%;
  z-index: 300;

}

#Headermenuback{
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  background-color: rgb(0, 0, 0);
  opacity: .6;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: 298;

}

#Menu_Name {
  font-size: 62px;
  font-family: "Palatino Linotype";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  background-color: none;
  border-style: none;
  opacity: 0.871;
  left: 9px;
  top: 35.81px;
  width: 226px;
  height: 61px;
  z-index: 306;
}

#Menu_Settings {
  font-size: 62px;
  font-family: "Palatino Linotype";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  background-color: rgb(32, 106, 93);
  border-style: none;
  opacity: 0.871;
  left: 12px;
  top: 273.81px;
  width: 400px;
  height: 61px;
  z-index: 302;
}

#Menu_Maint {
  font-size: 62px;
  font-family: "Palatino Linotype";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  background-color: rgb(32, 106, 93);
  border-style: none;
  opacity: 0.871;
  left: 12px;
  top: 378.81px;
  width: 500px;
  height: 65px;
  z-index: 303;
}

#Menu_Support {
  font-size: 62px;
  font-family: "Palatino Linotype";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  background-color: rgb(32, 106, 93);
  border-style: none;
  opacity: 0.871;
  left: 10px;
  top: 483.81px;
  width: 300px;
  height: 61px;
  z-index: 304;
}

#Menu_Out {
  font-size: 62px;
  font-family: "Palatino Linotype";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  background-color: rgb(32, 106, 93);
  border-style: none;
  opacity: 0.871;
  left: 9px;
  top: 589.81px;
  width: 450px;
  height: 61px;
  z-index: 305;
}

/*------------------------------------------------------------------------------------------------------------------------ */