			<div class="col mb-3">
		<input type="button" class="btn btn-primary btn-lg btn-block Grey2" value="Export" onclick="doit('xlsx');">
				</div>
			
				  			<div class="col mb-3">
													
													<div class="test">
						                       <button class="btn btn-primary btn-lg btn-block Grey2"  data-toggle="collapse" data-target="#Hide_row_Floor_Ground" 
													   
													   type="button" onclick="window.print();return false;">Print</button>
														</div>
			     </div>