<head>
  <title>Haccp</title>
  <meta charset="utf-8">
<meta id="myViewport" name="viewport" content="width=device-width, initial-scale=.9">
<link rel="icon" type="image/png" sizes="64x64" href="<%- include('../Partials/Site_Address') -%>/Images/logo_Icon_64.png">
<link rel="apple-touch-icon" sizes="180x180" href="<%- include('../Partials/Site_Address') -%>/Images/logo_Icon_64.png">
<link rel="icon" href="<%- include('../Partials/Site_Address') -%>/Images/logo_Icon_64.png">	
<script>
if (screen.width < 400) {
    var mvp = document.getElementById('myViewport');
    mvp.setAttribute('content','initial-scale=.7');
}
	

</script>
			
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	   <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
	    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/checkout/">
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="<%- include('../Partials/Site_Address') -%>/test.css" rel="stylesheet">
</head>


<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>




